/* src/assets/styles/colors.css */

/* Primary Colors */
:root {
    --baby-powder: #FFFCF9;
    /* Baby Powder */
    --pudrowy-pomarancz: #FFB25B;
    /* Puder Orange */
    --sredni-akwamaryn: #6ECEB2;
    /* Medium Aquamarine */
    --holenderski-bialy: #DFD1A7;
    /* Dutch White */
    --gleboki-szafran: #FF9425;
    /* Deep Saffron */
    --ognista-roza: #FF5869;
    /* Fiery Rose */
    --rodzynkowa-czern: #1D1F2A;
    /* Raisin Black */
    --niebieski-cg: #0081A6;
    /* CG Blue */
}