/* src/assets/styles/registration.css */

/* Import colors if using external colors.css file */
@import './colors.css';

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--baby-powder);
    color: var(--rodzynkowa-czern);
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--rodzynkowa-czern);
}

/* Registration Form Styling */
.registration-form {
    background-color: var(--baby-powder);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
}

/* Inputs and Submit Button */
input[type="username"],
input[type="email"],
input[type="password"],
input[type="password"]:last-child {
    /* For Confirm Password */
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--holenderski-bialy);
    background-color: var(--baby-powder);
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: var(--gleboki-szafran);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: var(--ognista-roza);
}

/* Error message */
.error-message {
    color: var(--ognista-roza);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Redirect to login */
.registration-form p {
    text-align: center;
    font-size: 14px;
    color: var(--rodzynkowa-czern);
}

.registration-form a {
    color: var(--niebieski-cg);
    text-decoration: none;
}

.registration-form a:hover {
    text-decoration: underline;
    color: var(--pudrowy-pomarancz);
}

/* Side container for split design */
.side-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--rodzynkowa-czern), var(--pudrowy-pomarancz));
}

.side-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}